nav{
    position: sticky;
    padding: 18px;
    top: 0;
    z-index: 9;
    background-image: url("http://cdn.pcwallart.com/images/solid-color-backgrounds-wallpaper-2.jpg");
}
body{
    background-image: url("http://cdn.pcwallart.com/images/solid-color-backgrounds-wallpaper-2.jpg");
    background-attachment: fixed;
}
/*  STYLES MAIN INPUT BOX  */
input{
    display: block;
    font-size: 25px;
    min-width: 540px;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: -3px;
    padding: 9px;
    padding-right: 60px;
    padding-left: 12px;
    background-color: rgba(255,255,255,.35);
    border: 1.75px solid white;
    outline: none;
    font-family: "Montserrat";
    font-weight: 500;
    color: rgba(255,255,255,.875);
    border-radius: 10px;
    background-image: url("music.png");
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: 97.5%;
}
input::placeholder{
    color: rgba(255,255,255,.5);
    font-weight: 300;
}
input:focus{
    color: white;
}

#main {
    padding: 6px;
}
img{
    height:100px;
    vertical-align: middle;
}
a td:first-child{
    font-family: "Montserrat";
    font-size: 55px;
    font-weight: 600;
    text-align: right;
    width: 70px;
    padding-right: 15px;
    opacity: .2;
}
a td:nth-child(2){
    width: 60px;
    text-align: center;
}
a td:nth-child(3){
    padding-left: 8px;
}
a td:nth-child(3) span{
    font-size: 15px;
    font-family: "Montserrat";
    vertical-align: middle;
}
a td:nth-child(3) em{
    font-size: 22.5px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: "Montserrat";
    font-style: normal;
    color: white;
    vertical-align: middle;
}
tr > td:nth-child(2){
    padding: 8px;
}
tr > td:nth-child(2) img{
    height: 40px;
    filter: invert(100%);
    opacity: .25;
    transition: 300ms;
}
tr > td:nth-child(2) img:hover{
    opacity: 1;
}
table{
    min-width: 500px;
    width: 80%;
    max-width: 900px;
    margin: auto;
    border-collapse: collapse;
}
td:first-child, td:nth-child(2){
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
tr:hover{
    background-color: rgba(255,255,255,.25);
    transition: 300ms;
}
td {
    padding: 5px;
    margin-left: 0px;
    margin-right: 0px;
    border-bottom: 2px solid transparent;
    vertical-align: middle;
}
a{
    text-decoration-line: none;
    color: inherit;
}